vida-ao-grafico/config/success_criteria.yaml -text
vida-ao-grafico/config/success_criteria.lock -text
vida-ao-grafico/config/success_criteria_ouro.yaml -text
vida-ao-grafico/config/success_criteria_ouro.lock -text
vida-ao-grafico/config/regra_filtro_ea.yaml -text
vida-ao-grafico/config/regra_filtro_ea.lock -text
